<%= stylesheet_link_tag 'style.css' %>
<div class="container" %>
<p>
<h4>Listing Articles</h4><a class="btn btn-info" style="margin:15px;"<%= link_to 'New Article', new_article_path %></a>
</p>
<table class="table table-bordered">
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>See Articles</th>
      <th>Edit Articles</th>
      <th>Destroy Articles</th>
    </tr>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text.slice(0,50)+ '...' %></td>
        <td><%= link_to ('<i class="fa fa-eye" aria-hidden="true"></i>').html_safe, article_path(article)  %></td>
        <td><%= link_to ('<i class="fas fa-pencil-alt" aria-hidden="true"></i>').html_safe, edit_article_path(article)  %></td>
        <td><%= link_to ('<i class="fas fa-trash-alt" aria-hidden="true"></i>').html_safe, article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>
